<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    {% if site.canonical %}
    <link rel="canonical" href="{{ site.canonical }}"/>
    {% endif %}

    <link rel="icon" href="./images/favicon-caltech.png" type="image/png"/>
    <!--
    <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark }}" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon }}" type="image/png" />
    -->
    <script src="https://unpkg.com/favicon-switcher@1.2.2/dist/index.js" crossorigin="anonymous" type="application/javascript"></script>

    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>

    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>

    <script src="./assets/js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
        backgroundColor: '#fff',
        innerHTML: 'Back to Top',
        textColor: '#333'
      })
    </script>
    <style>
        #back-to-top {
          border: 1px solid #ccc;
          border-radius: 0;
          font-size: 15px;
          width: 100px;
          text-align: center;
          line-height: 30px;
          height: 30px;
        }
    </style>
    
    <div class="wrapper">
      <header>


        <td id="layout-content">

          
          <table class="imgtable"><tr>
          <td width="200px">
          <a href="index.html"><img src="images/yingying_li.jpg" alt="alt text" height="150px" /></a>&nbsp;
          </td>
          
          <td align="left">

          <h3>{{ site.title }}</h3>
          {% if site.position %}
          {{ site.position }}
          <br>
          {% endif %}
          
          {% if site.department %}
          <a href="{{site.department_link}}">{{site.department}}</a> <br />
          {% endif %}
          
          {% if site.affiliation %}
          <a href="{{site.affiliation_link}}">{{site.affiliation}}</a> <br />
          {% endif %}
          
          Email: {{site.email}} <br />
          <p>     
          {% if site.resume %}  
          [<a href="{{ site.resume }}">Curriculum Vitae</a>] {% endif %}{% if site.google_scholar %}[<a href="site.google_scholar">Google Scholar</a>]{% endif %}
          </p>
          </td></tr></table>

        <!--  
        <center>
        
        <br>
        <a class="image avatar"><img src="images/yingying_li.jpg" alt="" onContextMenu="return false" /></a>

        <h1>{{ site.title }}</h1> 
        <p>
        {% if site.position %}
        {{ site.position }}
        <br>
        {% endif %}
        University of Illinois
        <br>
        Urbana-Champaign
        <br>
        {% if site.email %}
        <email>{{ site.email }}</email>
        <br>
        {% endif %}
        [<a href="./files/CV_Yingying_new.pdf">Curriculum Vitae</a>]<br>[<a href="https://scholar.google.com/citations?hl=en&user=-b9PTaUAAAAJ">Google Scholar</a>]
        </p>

      </center>
      -->

      <ul>

      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
          {% else %}
          {% assign domain = base_path %}
        {% endif %}
        {% if link.title == page.title %}
          <li class="active"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% else %}
          <li><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
      {% endfor %}

      <!--
        <li class="active">
          <a href="index.html" title="">Introduction</a>
        </li>
        <li>
          <a href="submission.html" title="">Submission</a>
        </li>
        <li>
          <a href="challenge.html" title="">Challenge</a>
        </li>
        <li style="min-width:150px">
          <a href="accepted.html" title="">Accepted Papers</a>
        </li>
        <li class="dropdown">
          <button class="dropbtn">Previous</button>
          <div class="dropdown-content">
            <a href="civ2021.html">CiV@CVPR2021</a>
          </div>
       </li>
       -->
      </ul>

      </header>
      <section>
        <br>
      {{ content }}

      <br>

      <!--
      <p><small>Website template from <a href="https://github.com/yaoyao-liu/minimal-light" target="_blank" rel="noopener">here</a>.</small></p>
      -->

      </section>
      <footer>
        <center>
        <style>
        .social-icons a{display:inline-block;height:3rem;width:3rem;background-color:#495057;color:#fff!important;border-radius:100%;text-align:center;font-size:1.5rem;line-height:3.1rem;margin-right:1rem}.social-icons a:last-child{margin-right:0}.social-icons a:hover{background-color:#000000}
        </style>
        <div class="social-icons">

          {% if site.linkedin %}
          <a href="{{ site.linkedin }}" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          {% endif %}
          
          <!--
          <a href="https://scholar.google.com/citations?hl=en&user=-b9PTaUAAAAJ" target="_blank">
            <i class="ai ai-google-scholar" style="font-size:1.6rem"></i>
          </a>
          
          <a href="./files/CV_Yingying.pdf" target="_blank">
            <i class="ai ai-cv" style="font-size:1.6rem"></i>
          </a>
          -->
          
          {% if site.github_link %}            
          <a href="{{ site.github_link }}" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          {% endif %}
        </div>
        
        <p hidden><script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=0BV5WWkvubBh6O72_ES-0aHY-MlDJXUC2LUHQid3A4A&cl=ffffff&w=a"></script></p>

        <br>
        <br>
        <br>
        </center>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
